<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--这里报红是因为该项目是分布式项目，在启动之前它们分布在不同的项目模块中，所以无法直接读取，在项目启动之后就会合在一起，就能读取到了-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启事务控制的注解支持
           注意：此处必须加入proxy-target-class="true"，需要进行事务控制，会由spring框架产生代理对象，dubbo需要将service发布为服务，要求必须使用cglib创建代理对象-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>